/*/////////////////////////////////////////////////////////////////////////////
//                                 Log In                                    // 
/////////////////////////////////////////////////////////////////////////////*/

#login .content {
	display: block;
	font-size: 1em;
	background-color: white;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	padding: 30px;
	box-shadow: 0px 0px 10px rgba(0,0,0,7);
	border-radius: 5px;
	border-bottom: 6px solid #417dc1;
	border-top: 6px solid #417dc1;
}


form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
}

#login .at-input {
	margin-top: .5em;
	margin-bottom: .5em;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}

input + input {
    float: right;
}

@media screen and (min-resolution: 2dppx), (max-width: 1000px) {
	#login h1 {
		font-size: 1em;
	}
	#login .content {
		font-size: 3em;
		display: table-cell;
		vertical-align: middle;
	}

	#login h3 {
		display: none;
	}

	.at-signup-link, .at-signin-link {
		font-size: 0.5em;
	}

	form {
		margin-bottom: 1em;
	}

	label {
		width: 10%;
		font-size: .5em;
	}

	input + input {
		width: 50%;
	}

	label + input {
		width: 50%;
		margin: 0 0% 0% 20%;
	}

	input {
		padding: 7px;
		font-size: 0.5em;
	}

	.submit {
		padding: 7px;
		font-size: 0.5em;
	}

}


/*/////////////////////////////////////////////////////////////////////////////
//                                 App                                       // 
/////////////////////////////////////////////////////////////////////////////*/

section#login .button:hover {
	color: white;
	background-color: #417dc1!important;
}

section#app .content {
	vertical-align: middle;
	background-color: white;
}


