/* CSS for Networking App */
section#login .content {
	background-color: white;
	vertical-align: middle;
	font-size: 1em;
}

section#login .button {
	color: #417dc1;
	border-color: #417dc1;
	cursor: pointer;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
}

section#login .button:hover {
	color: white;
	background-color: #417dc1!important;
}

section#app .content {
	vertical-align: middle;
	background-color: white;
}


